 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 186px;
}

.u-section-1 .u-text-1 {
  font-family: "Josefin Sans";
  font-size: 2.25rem;
  margin: 34px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  font-family: "Josefin Sans";
  margin: 0;
}

.u-section-1 .u-social-icons-1 {
  min-height: 16px;
  width: 204px;
  min-width: 124px;
  transition-duration: 0.5s;
  height: 32px;
  margin: 6px auto 34px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 193px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.6;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.625rem;
    margin-top: 25px;
  }

  .u-section-1 .u-text-2 {
    line-height: 1.4;
    font-size: 0.875rem;
    margin-bottom: 32px;
  }
}

.u-section-1 .u-social-icons-1,
.u-section-1 .u-social-icons-1:before,
.u-section-1 .u-social-icons-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/22090201c.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 376px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 206px 1px 60px auto;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 161px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 149px;
    margin-bottom: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 117px;
    margin-bottom: 28px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 18px;
} .u-section-4 {
  background-image: url("images/banner2020.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 376px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 157px auto 0 60px;
}

.u-section-4 .u-icon-1 {
  width: 89px;
  height: 89px;
  margin: -20px auto 54px 224px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 146px;
    margin-left: 61px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -17px;
    margin-bottom: 60px;
    margin-left: 220px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: 99px;
    margin-left: 39px;
  }

  .u-section-4 .u-icon-1 {
    width: 64px;
    height: 64px;
    margin-top: -14px;
    margin-bottom: 50px;
    margin-left: 158px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-icon-1 {
    width: 52px;
    height: 52px;
    margin-top: -15px;
    margin-bottom: 0;
    margin-left: 128px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 73px;
    margin-left: 13px;
  }

  .u-section-4 .u-icon-1 {
    width: 34px;
    height: 34px;
    margin-top: -8px;
    margin-bottom: 46px;
    margin-left: 70px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 13px;
} .u-section-6 {
  background-image: url("images/commissionsummarybanner1.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 504px;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 354px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 266px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 167px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 18px;
}