.u-section-1 .u-sheet-1 {
  min-height: 2721px;
}

.u-section-1 .u-text-1 {
  margin: 34px auto 0;
}

.u-section-1 .u-text-2 {
  width: 630px;
  margin: 10px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 300px;
  margin-top: 10px;
  margin-bottom: 0;
  grid-gap: 17px 17px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-2 {
  height: 303px;
  grid-gap: 17px 17px;
  width: 500px;
  margin: 10px auto 0;
}

.u-section-1 .u-gallery-inner-2 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-text-3 {
  width: 630px;
  margin: 33px auto 0;
}

.u-section-1 .u-gallery-3 {
  height: 581px;
  grid-gap: 17px 17px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-inner-3 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-text-4 {
  width: 630px;
  margin: 33px auto 0;
}

.u-section-1 .u-gallery-4 {
  height: 581px;
  grid-gap: 17px 17px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-inner-4 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-text-5 {
  width: 630px;
  margin: 40px auto 0;
}

.u-section-1 .u-gallery-5 {
  height: 581px;
  grid-gap: 17px 17px;
  margin-top: 12px;
  margin-bottom: 34px;
}

.u-section-1 .u-gallery-inner-5 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2747px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 8px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-gallery-inner-3 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-gallery-inner-4 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-gallery-5 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-gallery-inner-5 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2847px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 10px;
    height: 876px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-gallery-2 {
    height: 422px;
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 18px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-1 .u-gallery-3 {
    height: 408px;
    margin-top: 7px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 18px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-1 .u-gallery-4 {
    height: 408px;
    margin-top: 7px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 18px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-1 .u-gallery-5 {
    height: 408px;
    margin-top: 7px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2208px;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-gallery-1 {
    height: 661px;
  }

  .u-section-1 .u-gallery-2 {
    height: 303px;
    margin-top: 16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-3 {
    height: 306px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-4 {
    height: 306px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-5 {
    height: 306px;
    margin-bottom: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1495px;
  }

  .u-section-1 .u-gallery-1 {
    height: 422px;
  }

  .u-section-1 .u-gallery-2 {
    height: 206px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-top: 8px;
  }

  .u-section-1 .u-gallery-3 {
    height: 193px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 8px;
  }

  .u-section-1 .u-gallery-4 {
    height: 193px;
    margin-top: 8px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 8px;
  }

  .u-section-1 .u-gallery-5 {
    height: 193px;
    margin-bottom: 46px;
  }
}